.cart-modal{
    position:fixed;
    transition: .5s ease-out;
    right:0;
    top:4rem;
    display:flex;
    min-height: 100%;
    width:280px;
    background:rgba(0, 0, 0, 0.651);
    position: fixed;
    z-index: 100;
    flex-direction: column;
}

.modal-navbar{
    width:100%;
    height:1.5rem;
    background: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    color:var(--white);
    font-weight:500;
}

.cart-render{
    width: 100%;
    height:calc(100vh - 4rem);
    display:flex;
    flex-direction: column;
    align-items: center;
}

.card-selected{
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    height:auto;
    background:rgb(255, 255, 255);
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    box-shadow: 0 0 5px 1px var(--shadow);
}

.block{
    width:100%;
    display: grid;
    grid-template-columns: .8fr 1fr;
    align-content: center;
}

.block img{
    width: 100%;
    border-radius: 5px;
}

.cart-data{
    margin-top: -30px;
    height:50%;
    display: grid;
    grid-template-columns: 1fr;
    margin-left:1rem;
    align-items: center;
    align-self: center;
    position: relative;
}

.cart-title{
    width:80%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight:bold;
}

.cart-price{
    font-size: .8rem;
    font-weight:500;
}

.btn-delete{
    cursor:pointer;
    position:absolute;
    right:0;
    top:0px;
    width:30px;
    height:30px;
    display: flex;
    background:var(--black);
    justify-content: center;
    align-items: center;
    color: var(--white);
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size:.6rem;
}

.cart-btn{
    display:flex;
    position:absolute;
    bottom:-40px;
    right:5px;
    width:auto;
}

.cart-btn div{
    display: flex;
    justify-content: center;
    align-items: center;
    width:35px;
    height:35px;
    background:var(--skyblue);
    border-radius:5px;
    color:var(--white);
    cursor:pointer;
}

.cart-btn label{
    width:25px;
    padding: 0 5px; 
    border-radius:5px;
    margin-left: .2rem;
    margin-right:.2rem;
    height:33px;
    display:flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border:.5px solid rgb(202, 202, 202);
    font-size:.8rem;
    cursor:pointer;
}

.modal-hidden{
    display:flex;
    position:fixed;
    right: -280px;
    transition: .5s ease-out;

}