:root{
  --green: #73AC75;
  --orange:#FFAC08;
  --yellow:#EBD659;
  --skyblue:#128E98;
  --black:#444B53;
}

*{
  padding:0;
  margin:0;
  background:rgb(223, 223, 223);
  font-family:arial;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section{

  width:95%;
  min-height:calc(100vh - 7.5rem);
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-top:4.5rem;
 
}

.title{
  width: 100%;
  height: auto;
  background: transparent;
  font-size: 1rem;
  display: flex;
  color:rgb(104, 114, 114);
  font-weight:bold;
  flex-direction:column;
}

.underline{
  width: 100%;
  border:0.1px solid var(--yellow);
}

.items{
  width:100%;
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(150px, 1fr));
  gap:1rem;
  margin-top:1rem;
  margin-bottom: 1rem;
}

.item{
  display:grid;
  grid-template-columns: 1fr;
  width:100%;
  height: auto;
  border-radius: 5px;
  background:#fff;
}

.item img{
  width:100%;
  border-radius: 5px;
}

.btn{
  width: 90%;
  height:2rem;
  background:var(--orange);
  color:var(--black);
  display:flex;
  justify-content: center;
  align-items:center;
  justify-self: center;
  cursor:pointer;
  margin-bottom: .5rem;
  border-radius:5px;
}

nav{
  background:linear-gradient(45deg, var(--skyblue),var(--orange));
  width:100%;
  height:4rem;
  display:grid;
  grid-template-columns: repeat(2,1fr);
  position:fixed;
  top:0;
  z-index:99;
}

.business{
  display:flex;
  justify-content: center;
  align-items: center;
  width:80%;
  margin-left: 1rem;
  font-size: 1.5rem;
  background:transparent;
  color:#fff;

}

.cart{
  width:100%;
  max-height:100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-items: center;
  background:transparent;

}

.icon{
  background:transparent;
  font-size: 2.5rem;
  position:relative;
  margin-right:2rem;
  display: flex;
  align-self: center;
  color:var(--black);

}

.counter{
  border-radius:50%;
  height:1.5rem;
  width:1.5rem;
  background: var(--black);
  color: #fff;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:.8rem;
  font-family:Gotham;
  position:absolute;
  top: 5px;
  right:0;
  margin-right:1.5rem;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background:var(--black);
  color:#fff;
  width:100%;
  height: 3rem;
}

.msg{
  position:absolute;
  width: auto;
  padding: 0 1rem;
  top:100%;
  right:.5rem;
  background:rgb(41,41,41);
  color:#fff;
  height:2rem;
  display:flex;
  justify-content: center;
  align-items:center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1rem;
}

.visible{
  opacity: 1;
}

.hidden{
  opacity: 0;
  transition:1s ease-in;
}